%%--------------------------------------------------------------------
%% @doc:	${1:desription}
%% @spec:	${2:function}(${3:arg}::${4:type} ) -> ${5:return}.
%%  where
%%    ${6: return type}
%% @end
%%--------------------------------------------------------------------
$2($3) ->
  ${7:body}
