%%% @author  `g:snips_author` <`g:my_email_addr`>
%%% @copyright `strftime("%Y")`, `g:snips_company`. All Rights Reserved.
%%% @doc
%%%		${1}
%%% @end
%%% Created :  `strftime("%a %b %d %H:%M:%S %Y")` by `g:snips_author`

-module(`Filename()`).
  ${2}
